body{
  color: white;
  background-color: rgb(33, 33, 33);
  text-align: center;
  margin: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


#parent{
display: flex;
  align-items: center;
  justify-content: center;
}